name: CI/CD GCP Infra & Config
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 1. Auth GCP
      - uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # 2. Terraform Apply
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - run: |
          terraform init
          terraform apply -auto-approve
        working-directory: ./terraform

      # 3. Ansible Deploy
      - name: Run Playbook
        run: |
          # Installation d'ansible si nécessaire (souvent déjà présent sur l'image ubuntu-latest)
          ansible-playbook -i inventory.ini playbook.yml
        working-directory: ./ansible
        env:
          ANSIBLE_HOST_KEY_CHECKING: False