---
- name: Configuration des Serveurs Web
  hosts: web_servers
  become: yes
  tasks:

    # --- CONFIGURATION APACHE (VM1) ---
    - name: Installation et config Apache
      when: inventory_hostname == 'vm_apache'
      block:
        - name: Installation Apache
          apt:
            name: apache2
            state: present
            update_cache: yes
        - name: Page d'accueil Apache
          copy:
            content: "<h1>Bienvenue sur Apache (VM1) - Géré par Ansible</h1>"
            dest: /var/www/html/index.html
          notify: restart apache

    # --- CONFIGURATION NGINX (VM2) ---
    - name: Installation et config Nginx
      when: inventory_hostname == 'vm_nginx'
      block:
        - name: Installation Nginx
          apt:
            name: nginx
            state: present
            update_cache: yes
        - name: Page d'accueil Nginx
          copy:
            content: "<h1>Bienvenue sur Nginx (VM2) - Géré par Ansible via IAP</h1>"
            dest: /var/www/html/index.nginx-debian.html
          notify: restart nginx

  handlers:
    - name: restart apache
      service:
        name: apache2
        state: restarted
    - name: restart nginx
      service:
        name: nginx
        state: restarted