---
- name: Configuration des Serveurs Web
  hosts: web_servers
  become: yes
  tasks:

    # Configuration pour la VM Apache
    - name: Installer et démarrer Apache sur VM1
      when: inventory_hostname == 'vm_apache'  # <-- On utilise 'when' ici
      block:
        - name: Installation Apache
          apt:
            name: apache2
            state: present
            update_cache: yes
        - name: Page d'accueil Apache
          copy:
            content: "<h1>Bienvenue sur Apache (VM1)</h1>"
            dest: /var/www/html/index.html

    # Configuration pour la VM Nginx
    - name: Installer et démarrer Nginx sur VM2
      when: inventory_hostname == 'vm_nginx'   # <-- Et 'when' ici aussi
      block:
        - name: Installation Nginx
          apt:
            name: nginx
            state: present
            update_cache: yes
        - name: Page d'accueil Nginx
          copy:
            content: "<h1>Bienvenue sur Nginx (VM2)</h1>"
            dest: /var/www/html/index.nginx-debian.html