name: CI/CD GCP Infra & Config

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Auth GCP
      - name: Google Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # 2. Terraform Apply
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init & Apply
        run: |
          terraform init
          # CORRECTIF : On force les permissions d'exécution sur les providers
          chmod -R +x .terraform/providers/
          terraform apply -auto-approve
        working-directory: ./terraform

      # 3. INSTALLATION DE LA CLÉ SSH
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary

      # 4. Ansible Deploy
      - name: Run Playbook
        run: |
          ansible-playbook -i inventory.ini playbook.yml
        working-directory: ./ansible
        env:
          ANSIBLE_HOST_KEY_CHECKING: False